<div class="max-w-7xl mx-auto mt-10">

  <div class="flex justify-between mb-4">
    <h2 class="text-xl font-bold text-sky-400">Players</h2>

    <%= link_to "Add Player",
      new_player_path,
      class: "bg-emerald-600 px-4 py-2 rounded text-white" %>
  </div>

  <div class="bg-zinc-800 rounded p-4">

    <div class="
      grid
      grid-flow-col
      grid-rows-12
      grid-cols-1
      md:grid-cols-2
      xl:grid-cols-4
      gap-x-6
      gap-y-2
      text-sm
    ">

      <% @players.each do |p| %>
        <div class="px-2 py-1 border-b border-zinc-700">
          <%= p.name %>
        </div>
      <% end %>

    </div>

  </div>

</div>

